/* Classnames: container (for Container) hero hero-image flexBox flexColumn */

.container {
  width: 100%;
}

.flexBox {
  display: flex;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 90vh;
}

.hero-right {
  background-image: url('https://images.unsplash.com/photo-1524086496832-aa348741b7b9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2031&q=80');
  background-position: center bottom;
}

.hero-left {
  background-color: #1c317a;
}

.hero p {
  color: white;
  font-size: 3.5rem;
}

.hero h1 {
  font-size: 6rem;
}

/* LOGO/NAV styles here*/

nav {
  background-color: #1c317a;
  height: 6vh;
}

.logo {
  text-decoration: none;
  font-size: 4rem;
  color: white;
  padding: 1%;
}

.logo span {
  color: lightgreen;
  font-weight: 800;
  margin-left: 2px;
}
